ion-header {
  ion-icon {
    font-size: 1rem;
  }
}

div {
  transform: translateY(10%);
  height: 30vh;
  margin: 5px;
  swiper-container {
    --swiper-pagination-color: var(--ion-color-primary, #de0f17);
    swiper-slide {
      height: 25vh;
      img {
        width: 100%;
        height: 22vh;
        border-radius: 5px;
      }
    }
  }
}

.borderBottom {
  border-bottom: 1.5vh solid var (--ion-color-danger);
}

ion-label {
  font-size: 0.9rem;
  font-weight: bold;
  h4 {
    font-weight: bold !important;
    font-size: 1.2 rem;
  }
  p {
    font-size: 0.7rem;
  }
}
