<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar #searchInput placeholder="Search for Restraurents" animated="true" debounce="400"
      (ionInput)="OnSearchChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-loading-restaurant *ngIf="isLoading"></app-loading-restaurant>
  <ion-list *ngIf="!isLoading && restaurants.length >0">
    <ion-list-header>
      <ion-label>
        <h4>Search Results for "{{query}}"</h4>
      </ion-label>
    </ion-list-header>
  </ion-list>
  <app-restaurant *ngFor="let res of restaurants" [restaurent]="res"></app-restaurant>
</ion-content>