<ion-list>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img [src]="restaurant?.cover ? restaurant.cover : 'assets/images/food3.jpg'" />
    </ion-thumbnail>
    <ion-label>
      <h4>{{restaurant?.name}}</h4>
      <ion-text color="medium">
        <p class="pStyle">
          {{getCuisine(restaurant?.cuisines)}}
        </p>
        <ion-text color="dark">
          <span>
            <ion-icon name="star"></ion-icon>
            {{restaurant?.rating}} •
          </span>

          {{restaurant.distance | number:"0.0-2"}} mins .
          {{restaurant.price | currency : 'INR'}} for two
        </ion-text>
        <ion-text color="tertiary">
          <p class="distance">
            {{restaurant.delivery_time }} Kms away
          </p>
        </ion-text>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-list>